/*
@import url('https://fonts.googleapis.com/css?family=Lucida_Console');*/

#ajukan-button {
	background-color: #000032;
	margin-right: 10.4%; 
	margin-top: 2%;
}

#ajukan-button:hover {
	border-radius: 25px;
	background-color: #428c7d;

}

.awalan {
	font-family: "Lucida Console", sans-serif;
	color: white;
}

#ajukan-cover {
	font-size: 6rem;
	letter-spacing: 3rem;
	margin-top: 9vh;
	text-align: left;
	/*margin-left: 39vw;*/
}

#anda {
/*	font-size: 4rem;
	padding-top: 5.3%;
	margin-left: 79.1%;
	text-align: right;*/
	font-size: 6rem;
	letter-spacing: 3rem;
	margin-top: 25vh;
	text-align: right;
}

#layanan {
	font-size: 45px;
	margin-top: 2%;
	margin-left: 38.1%;
}

.background-aspirasi{
	background-image: url("../img/header_aspirasi_3.png");
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
}