@import url('https://fonts.googleapis.com/css?family=Roboto');

 html{
  font-family: 'Roboto', sans-serif;
 }
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

 .background{
	background-image: url("../img/bg-index.jpg");
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

nav.navbar-extended {
  background: #754352;
  border: none;
  box-shadow: none;
  height: 64px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.brand-logo{
	left: 10%;
}
.brand-logo img {
  height: 64px;
}

nav.navbar-wrapper .nav-content{
	background-color: white;
}

.page-footer {
  padding-top: 0px;
  color: #20272a;
  background-color: #ffffff;
  text-align: center;
  /*z-index: 997;*/
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  /*background-color: rgba(51, 51, 51, 0.08);*/
  background-color: #ffffff;
}

.page-footer .container{
	color: black;
}

.navbar-wrapper .nav-content > ul > li > a{
	color: black;
}

.progress{
	width: 80%;
	background-color: rgba(195, 102, 87, 0.2);
}

.progress .determinate{
	background-color: rgba(195, 102, 87, 1);
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black;
    display: block;
    padding: 0 10px;
    cursor: pointer;
}

.container .col.s6{
	margin: 3rem 0px 0rem 0px;
	background-color: #d7ccc8; 
}

.col.s6 h4{
	display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0 16px 6px 52px;
}

.right .hide-on-med-and-down{
	right: 50%;
}

.col.s6 .card-panel{
	padding: 5px;
}

.divider{
	height: 2px;
	background-color: #757575; 
}

input[type=text]:not(.browser-default){
	width: 86%;
}

.btn{
	color: #080808;
	background-color: #bdbdbd; 
}