.wrapper-page{
  /* width: 100vw; */
  /* height: 100%; */
  /* margin: 0 auto; */
  /* border: solid #555; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.bg-blur{
	-webkit-filter: blur(3px);
  	filter: blur(3px);
}

.bg-contrast{
	-webkit-filter: contrast(2);
  	filter: contrast(2);
}

.bg-sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.card-news {
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 450px;
  /* max-width: 375px; */
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: url("https://diskominfo.depok.go.id/wp-content/uploads/2018/05/gambar_28253-377x257.jpg");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
}
.card-news .image{

}
.card-news:hover .overlay {
  bottom: -25%;
}

.card-news h1 {
  /*font-size: 2.2rem;*/
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8%;
  /*font-weight: 200;*/
  line-height: 1;
}

.card-news h2 {
  /*font-size: 2.2rem;*/
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8%;
  /*font-weight: 200;*/
  line-height: 1;
}

.card-news h3 {
  /*font-size: 2.2rem;*/
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8%;
  /*font-weight: 200;*/
  line-height: 1;
}

.card-news h4 {
  /*font-size: 2.2rem;*/
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8%;
  /*font-weight: 200;*/
  line-height: 1;
}

.card-news h5 {
  /*font-size: 2.2rem;*/
/*  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);*/
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  margin: 0 10%;
  /* padding-left: 80px; */
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8%;
  /*font-weight: 200;*/
  line-height: 1;
}

.card-news p {
/*  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);*/
  color: rgba(0, 0, 0, 0.8);
  /* width: 65%; */
  padding-bottom: 11%;
  margin: 0 6% 0 10%;
  margin-top: 25px;
  text-align: left;
  /* margin-left: 80px; */
  font-weight: 500;
  font-size: 1rem;
}

.overlay {
  position: absolute;
  /* left: -20%; */
  bottom: -40%;
  display: block;
  background: white;
  height: 400px;
  /* width: 390px; */
 /* -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
          transform: rotate(-3deg) translate3d(0, 0, 0);*/
  border-radius: 0px;
  text-align: center;
  transition: 0.3s all ease-in-out;
  transition-delay: 0.1s;
}

.button {
  color: #E80000;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 900;
  /* margin-left: 7%; */
  /* padding-to */
/*  -webkit-transform: rotate(3deg) translateX(-70%);
          transform: rotate(3deg) translateX(-70%);*/
  /* position: absolute; */
  /* bottom: 35%; */
  /* left: 45%; */
}

.title-line{
  display: block;
  width: 9rem;
  height: 0.2rem;
  border-radius: 5px;
  background: #ff4d5a;
  text-align: center;
  margin: -1vh 27vw 0vh 27vw;
}

.title-line2{
  display: block;
  width: 9rem;
  height: 0.2rem;
  border-radius: 5px;
  background: #ff4d5a;
  margin: 0.5vh 33vw 1vh 33vw;
}
