@import url('https://fonts.googleapis.com/css?family=Roboto');

 html{
  font-family: 'Roboto', sans-serif;
 }
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

.background{
	background-color: #64b5f6;
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

nav.navbar-extended {
  background: #754352;
  border: none;
  box-shadow: none;
  height: 64px;
}

.brand-logo img {
  height: 59px;
}

a.brand-logo{
  left: 13%;
}

#loading{
	width: 80%;
	background-color: rgba(195, 102, 87, 0.2);
}

#load{
	background-color: rgba(195, 102, 87, 1);
}

nav ul li a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.page-footer {
  padding-top: 0px;
  color: #20272a;
  background-color: #ffffff;
  text-align: center;
  /*z-index: 997;*/
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  /*background-color: rgba(51, 51, 51, 0.08);*/
  background-color: #ffffff;
}

.page-footer .container{
	color: black;
}

#slide1{
	background-image: url("../img/rakor.jpg");
	background-size: 1360px;
}

#slide2{
	background-image: url("../img/radio.jpg");
	background-size: 1360px;
}

#slide3{
	background-image: url("../img/penyerahan.jpg")
}

.container .card-panel{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
	margin: 2rem -15px 2rem -15px;
  border-radius: 10px;
}

.text-block {
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 100;
    text-shadow: 1px 0 2px #3a3a3a;
    font-weight: 300;
}

.divider{
  width: 100%;
  height: 2px;
  margin-top: 1px;
}
