body {
  margin:0;
  overflow-x: hidden;
  }

header {
  background-size: cover;
  position: relative;
  height: 500px;
  background: linear-gradient(to bottom,  #573e58 10%, #c45446 30%);
  background-attachment: fixed;
  }

#fg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}

section {
  width: 100%;
  position: relative;
  background: #70293b;
}

h2 {
  margin-top: 10%;
  color: white;
  text-align: center;
}

.title-line{
  display: block;
  width: 15rem;
  height: 0.3rem;
  border-radius: 8px;
  background: #fba57a;
 /* text-align: center;*/
  margin: -1vh 27vw 0vh 20vw;
/*
  -webkit-animation: mymove 5s infinite;  Safari 4.0 - 8.0 
  animation: mymove 5s infinite;*/
}

/*@-webkit-keyframes mymove {
    50% {align-content: left;}
}

@keyframes mymove {
    50% {align-content: left;}*/

.title-line2{
  display: block;
  width: 15rem;
  height: 0.3rem;
  border-radius: 8px;
  background: #fba57a;
  margin: 0.5vh 31vw 1vh 33vw;
}

.justify {
  text-align: justify;
  color: white;
}

.judul {
  font-size: 2em;
  color: white;
}


#lokasi-button:hover {
  border-radius: 30px;
  background-color: #ff5e5e;

}

#daftar-button:hover {
  border-radius: 30px;
  background-color: #ffae5e;

}

#info-button:hover {
  border-radius: 30px;
  background-color: #ffd35e;

}

#zona-button:hover {
  border-radius: 30px;
  background-color: #84ff5e;

}

#create-button:hover {
  border-radius: 30px;
  background-color: #d35eff;

}