/*nav{
    height: 13vh;
    background-color: #ffffff;
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

 html{
  font-family: 'Roboto', sans-serif;
 }
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

.background{
	background-image: url("../img/bg-index.jpg");
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.wrapper{
	/*margin: 2% auto;*/
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
	width: 900px;
}

.wrapper-card-2{
	padding: 25px 125px;
}
.wrapper-card-4{
	padding: 25px 50px;
}

.text-center{
    text-align: center;
    margin: 0 0 0 25px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 52%; */
    /*-ms-transform: translate(-50%, -50%);*/
    /* transform: translate(-50%, -50%); */
}

nav.navbar-material {
  background: #754352;
  border: none;
  box-shadow: none;
  height: 64px;
}
.navbar-material .nav-wrapper {
  background: white;
  margin: 0px;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}
.navbar-material .nav-wrapper .button-collapse i {
  color: black;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}

.page-footer {
  padding-top: 0px;
  color: #20272a;
  background-color: #ffffff;
  text-align: center;
  /*z-index: 997;*/
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  /*background-color: rgba(51, 51, 51, 0.08);*/
  background-color: #ffffff;
}

.page-footer .container{
  color: #20272a;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.progress{
	width: 80%;
	background-color: rgba(195, 102, 87, 0.2);
}

.progress .determinate{
	background-color: rgba(195, 102, 87, 1);

}
.image-rounded{

}
